body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.header {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.CRUD {}

.search {}

.requests {}

.main {
    display: flex;
}

.tables-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 300px;
}

.content {
    display: flex;
    flex-direction: column;
}

.table {
    table-layout: auto;
    font-size: 14px;
}

.cell {
    border: 1px solid #000;
    padding: 5px;
}

.add,
.find__btn,
.apply-update__btn,
.request__btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 10px;
}

.change-data,
.search-data {
    width: 250px;
}
